
<h1><%= @bookmark.url %></h1>
<div class="row">
  <div class="col-md-8">
		<p><%= @bookmark.url %></p>
	</div>
	<div class="col-md-4">

<<<<<<< HEAD
    <!-- <%= render partial: 'likes/like', locals: { bookmark: @bookmark } %> -->
=======
    <%= render partial: 'likes/like', locals: { bookmark: @bookmark } %>
>>>>>>> 669c3770873057054b42a379a59b9c57f1e03662

    <% if policy(@bookmark).edit? %>
		<%= link_to "Edit", edit_topic_bookmark_path(@bookmark.topic, @bookmark), class: "btn btn-success" %>
    <% end %>
    <%= link_to "Delete Bookmark", [@bookmark.topic, @bookmark], method: :delete, class:"btn btn-danger", data: {confirm: "Are you sure you want to delete this bookmark?"} %>
    <% if policy(@bookmark).destroy? %>
    <%= link_to "topic", topics_path,  class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
